<a href="https://colab.research.google.com/github/AgusteFatu/burayaneyazcaz/blob/main/week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor # Import Decision Tree Regression
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [244]:
data = pd.read_csv('https://raw.githubusercontent.com/AgusteFatu/burayaneyazcaz/main/data/cu.summary.csv')
del data['Unnamed: 0']
#data.rename(columns={'Unnamed: 0': 'Car'}, inplace=True)

pd.options.display.float_format = '{:,.2f}'.format

In [235]:
# Example observations
display(data.head(5))
print("\n{} Rows and {} columns.".format(data.shape[0],data.shape[1]))

   Price Country  Reliability  Mileage   Type
0  11950   Japan  Much better      nan  Small
1   6851   Japan          NaN      nan  Small
2   6995     USA   Much worse      nan  Small
3   8895     USA       better    33.00  Small
4   7402     USA        worse    33.00  Small

117 Rows and 5 columns.

In [218]:
# Information about the variables dtype and columns, non-null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        117 non-null    int64
 1   Country      117 non-null    object
 2   Reliability  85 non-null     object
 3   Mileage      60 non-null     float64
 4   Type         117 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.7+ KB

In [245]:
# Dropping Null values
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 3 to 112
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        49 non-null     int64
 1   Country      49 non-null     object
 2   Reliability  49 non-null     object
 3   Mileage      49 non-null     float64
 4   Type         49 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.3+ KB

In [156]:
# Summary Statistics
pd.DataFrame(data['Price'].describe()).transpose()
# Cheapest and most expensive one
data [np.logical_or(data['Price'] < 6400, data['Price'] > 24000)]

       count      mean      std      min      25%       50%       75%       max
Price  49.00 12,452.08 4,229.66 6,319.00 9,599.00 11,650.00 14,944.00 24,760.00

In [158]:
# Summary Statistics
pd.DataFrame(data['Country'].value_counts()).transpose()

         USA  Japan  Japan/USA  Korea  Mexico  Sweden  Germany
Country   23     14          7      2       1       1        1

In [169]:
# Summary Statistics
pd.DataFrame(data['Reliability'].value_counts()).transpose()

             Much better  average  worse  Much worse  better
Reliability           17       12      7           7       6

In [180]:
# Summary Statistics
pd.DataFrame(data['Mileage'].describe()).transpose()

         count  mean  std   min   25%   50%   75%   max
Mileage  49.00 24.80 4.81 18.00 21.00 23.00 27.00 37.00

In [181]:
# Summary Statistics
pd.DataFrame(data['Type'].value_counts()).transpose()

      Compact  Small  Medium  Sporty  Van  Large
Type       13     12      11       7    3      3

In [246]:
# Encoding Categorical variables 
data = pd.get_dummies(data, columns = ['Country'],prefix='C')
data = pd.get_dummies(data, columns = ['Reliability'],prefix='R')
data = pd.get_dummies(data, columns = ['Type'],prefix='T')

# Select feature and target
X = data.drop(['Price'],axis=1)
y = data[['Price']]

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

print('Train set length: {}'.format(len(y_train)))
print('Test  set length: {}'.format(len(y_test)))

Train set length: 39
Test  set length: 10

In [247]:
# After Encoding and Splitting
X_train.head(5)

    Mileage  C_Germany  C_Japan  ...  T_Small  T_Sporty  T_Van
23    20.00          0        0  ...        0         1      0
10    32.00          0        1  ...        1         0      0
78    22.00          0        0  ...        0         0      0
15    25.00          0        1  ...        1         0      0
8     32.00          0        0  ...        1         0      0

[5 rows x 19 columns]

In [259]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
# Linear Regression Model 
model_LRM = LinearRegression().fit(X_train,y_train).fit(X_train,y_train)

# Predicting 
y_train_predicted_LRM = model_LRM.predict(X_train)
y_test_predicted_LRM = model_LRM.predict(X_test)


y_train_MSE_LRM =metrics.mean_squared_error(y_train, y_train_predicted_LRM)
y_test_MSE_LRM = metrics.mean_squared_error(y_test, y_test_predicted_LRM)

# or
# y_train_MSE_LRM = np.mean((np.array(y_train) - np.array(y_train_predicted_LRM))  ** 2)
# y_test_MSE_LRM  = np.mean((np.array(y_test) - np.array(y_test_predicted_LRM) ) ** 2)

print('Train MSE: {:,.2f}' .format(y_train_MSE_LRM))
print('Test MSE: {:,.2f}' .format(y_test_MSE_LRM))

Train MSE: 3,047,935.64
Test MSE: 6,948,901.54

In [253]:
6948901.54 - 3047935.64

3900965.9

In [283]:
from sklearn.tree import DecisionTreeRegressor # Regression Tree

# Regression Tree Model
regTree = DecisionTreeRegressor(max_depth = 4,random_state=42).fit(X_train,y_train)

# Predicting values
y_train_predicted_REGTREE = regTree.predict(X_train)
y_test_predicted_REGTREE  = regTree.predict(X_test)

y_train_MSE_REGTREE = metrics.mean_squared_error(y_train,y_train_predicted_REGTREE)
y_test_MSE_REGTREE  = metrics.mean_squared_error(y_test, y_test_predicted_REGTREE)  

print('Train MSE: {:,.2f}'.format(y_train_MSE_REGTREE))
print('Test MSE: {:,.2f}'.format(y_test_MSE_REGTREE))

Train MSE: 866,431.94
Test MSE: 10,895,124.34

In [298]:
from sklearn.ensemble import BaggingRegressor
# Bagging Tree
bagTree = BaggingRegressor(n_estimators = 500,max_features=18,random_state=42).fit(X_train,np.ravel(y_train))

y_train_predicted_BAG = bagTree.predict(X_train)
y_test_predicted_BAG = bagTree.predict(X_test)
  

y_train_MSE_BAG = metrics.mean_squared_error(y_train, y_train_predicted_BAG)
y_test_MSE_BAG = metrics.mean_squared_error(y_test, y_test_predicted_BAG)

print('Train MSE: {:,.2f}'.format(y_train_MSE_BAG))
print('Test MSE: {:,.2f}'.format(y_test_MSE_BAG))

Train MSE: 748,965.78
Test MSE: 7,697,955.30

In [313]:
from sklearn.ensemble import RandomForestRegressor

# Train the model on training data
rforest = RandomForestRegressor(n_estimators = 500,random_state=42).fit(X_train,np.ravel(y_train))

# Predicting 
y_train_predicted_FOREST = rforest.predict(X_train)
y_test_predicted_FOREST  = rforest.predict(X_test)
  
y_train_MSE_FOREST = metrics.mean_squared_error(y_train, y_train_predicted_FOREST)
y_test_MSE_FOREST = metrics.mean_squared_error(y_test, y_test_predicted_FOREST)

print('Train MSE: {:,.2f}'.format(y_train_MSE_FOREST))
print('Test MSE: {:,.2f}'.format(y_test_MSE_FOREST))

Train MSE: 668,040.07
Test MSE: 7,788,728.11

In [314]:
# Model RMSE values for Comparison
tableData = {'Linear Reg. M. RMSE' : [np.sqrt(y_train_MSE_LRM),np.sqrt(y_test_MSE_LRM)], 'Reg Tree RMSE': [np.sqrt(y_train_MSE_REGTREE),np.sqrt(y_test_MSE_REGTREE)],'Bagging Tree RMSE': [np.sqrt(y_train_MSE_BAG),np.sqrt(y_test_MSE_BAG)],'Random Forest RMSE': [np.sqrt(y_train_MSE_FOREST),np.sqrt(y_test_MSE_FOREST)] }
table = pd.DataFrame(tableData,index = {'Train set': '0','Test Set': '1'})
table

           Linear Reg. M. RMSE  ...  Random Forest RMSE
Train set             1,745.83  ...              817.34
Test Set              2,636.08  ...            2,790.83

[2 rows x 4 columns]

In [307]:
 7769747.95 - 678269.32

7091478.63

In [ ]:
modelEvaluation  = y_train.copy()
modelEvaluation['Predicted_train'] = y_train_predicted_LRM
modelEvaluation.columns = ['Actual','Predicted_train']

modelEvaluation2  = y_test.copy()
modelEvaluation2['Predicted_train'] = y_test_predicted_LRM
modelEvaluation2.columns = ['Actual','Predicted_test']


modelEvaluation.head(15).plot(kind='bar',figsize=(7,5))
modelEvaluation2.head(15).plot(kind='bar',figsize=(7,5))
plt.show()

display(modelEvaluation2.head(8))
display(modelEvaluation.head(8))