<a href="https://colab.research.google.com/github/AgusteFatu/burayaneyazcaz/blob/main/ML_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import io
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
from google.colab import files
uploaded = files.upload()

Saving MyData.csv to MyData.csv

In [4]:
data = pd.read_csv(io.BytesIO(uploaded['MyData.csv']),index_col=False)
#index_col=False did not work
del data["Unnamed: 0"] 
#pd.options.display.precision = 3 # or
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
#include = 'all'
data.describe()

In [ ]:
data.info()

In [37]:
data.info()
print("----------------------------------------------------")
print('Select columns for feature variables (Ex:0-3-4)')
colNum = list(map(int,input().split('-')))
cols = []
for i in colNum:
  cols.append(data.columns.values[i]) 

print('Select target Variable')
varY = list(map(int,input().split('-')))

X = pd.DataFrame()
for i in range(len(colNum)):
  X[[cols[i]]] = data[[cols[i]]]
y = data[data.columns.values[varY]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           397 non-null    object
 1   discipline     397 non-null    object
 2   yrs.since.phd  397 non-null    int64
 3   yrs.service    397 non-null    int64
 4   sex            397 non-null    object
 5   salary         397 non-null    int64
dtypes: int64(3), object(3)
memory usage: 18.7+ KB
----------------------------------------------------
Select columns for feature variables (Ex:0-3-4)
0-1-2
Select target Variable
5

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
#https://stackoverflow.com/a/30443504

pd.options.mode.chained_assignment = None  # default='warn'

# model.fit() do not accept str values
le = preprocessing.LabelEncoder()
for feature in cols:
  if X[feature].dtypes == ('O'):
    X[feature] = le.fit_transform(X[feature])
    print('"{}"  data type is Object, "{}" feature encoded.'.format(feature,feature))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state= 42)


model = LinearRegression()
model.fit(X_train, y_train)

y_train_predicted = model.predict(X_train)
y_test_predicted = model.predict(X_test)


print('R-squared: {}' .format(model.score(X_train, y_train)))

R-squared: 0.41365684033076855

In [ ]:
y_train_predicted = model.predict(X_train)
y_test_predicted = model.predict(X_test)

modelEvaluation  = y_train.copy()
modelEvaluation['Predicted_train'] = y_train_predicted
modelEvaluation.columns = ['Actual','Predicted_train']

modelEvaluation2  = y_test.copy()
modelEvaluation2['Predicted_train'] = y_test_predicted
modelEvaluation2.columns = ['Actual','Predicted_test']


modelEvaluation.head(15).plot(kind='bar',figsize=(7,5))
modelEvaluation2.head(15).plot(kind='bar',figsize=(7,5))
plt.show()

display(modelEvaluation2.head(8))
display(modelEvaluation.head(8))

In [46]:
import sklearn.metrics as m

y_train_MSE =m.mean_squared_error(y_train, y_train_predicted)
y_train_RMSE = np.sqrt(m.mean_squared_error(y_train, y_train_predicted))
y_train_MAE = m.mean_absolute_error(y_train, y_train_predicted)

y_test_MSE = m.mean_squared_error(y_test, y_test_predicted)
y_test_RMSE = np.sqrt(m.mean_squared_error(y_test, y_test_predicted))
y_test_MAE = m.mean_absolute_error(y_test, y_test_predicted)

labels = ['MSE' , 'RMSE' , 'MAE']
d = {'y_train': [y_train_MSE, y_train_RMSE,y_train_MAE], 'y_test': [y_test_MSE, y_test_RMSE,y_test_MAE]}
df = pd.DataFrame(data=d,index =labels )
df

            y_train         y_test
MSE  557,820,451.12 715,423,062.77
RMSE      23,618.22      26,747.39
MAE       18,745.10      19,224.37

In [47]:
import statsmodels.api as sm

X_trainSummary = sm.add_constant(X_train.copy())
model2 = sm.OLS(y_train, X_trainSummary)

results = model2.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.414
Model:                            OLS   Adj. R-squared:                  0.408
Method:                 Least Squares   F-statistic:                     73.61
Date:                Fri, 12 Mar 2021   Prob (F-statistic):           4.75e-36
Time:                        22:05:21   Log-Likelihood:                -3641.9
No. Observations:                 317   AIC:                             7292.
Df Residuals:                     313   BIC:                             7307.
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          6.366e+04   3691.046     17.247      0.000    5.64e+04    7.09e+04
rank           1.648e+04   2055.711      8.015      0.000    1.24e+04    2.05e+04
discipline     1.656e+04   2742.603      6.038      0.000    1.12e+04     2.2e+04
yrs.since.phd   751.7592    122.970      6.113      0.000     509.808     993.711
==============================================================================
Omnibus:                       15.469   Durbin-Watson:                   1.857
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.524
Skew:                           0.505   Prob(JB):                     0.000258
Kurtosis:                       3.482   Cond. No.                         80.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

-------------------------------------------------------------

I'll check and clean here later


-------------------------------------------------------------

In [94]:
#   Splitting Data
#   X = data.drop('salary', axis = 1).values #Returns numpy array
#   y = data['salary'].values  
#   y = data[['salary']]            # Returns Dataframe

X = data[['rank', 'discipline', 'yrs.since.phd','yrs.service','sex']]
y = data[['salary']]

In [95]:
from sklearn import preprocessing
#https://stackoverflow.com/a/30443504

pd.options.mode.chained_assignment = None  # default='warn'
# model.fit() do not accept str values
le = preprocessing.LabelEncoder()

X['rank'] = le.fit_transform(X['rank'])
X['discipline'] = le.fit_transform(X['discipline'])
X['sex'] = le.fit_transform(X['sex'])

In [120]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20 ,random_state= 42)

model = LinearRegression()
model.fit(X_train, y_train)
print('R-squared: {}' .format(model.score(X_train, y_train)))

R-squared: 0.4200558658334024

In [ ]:
#sns.heatmap(data.corr(),annot=True,lw=1)
#data.corr()
sns.pairplot(data,hue='sex')

In [ ]:
sns.regplot(x=y_train,y=y_train_predicted,line_kws={"color": "red"})

In [ ]:
sns.regplot(x=y_test,y=y_test_predicted,line_kws={"color": "red"})

In [ ]:
plt.scatter(X_test, y_test,  color='black')
plt.plot(X_test, y_train_predicted, color='blue', linewidth=3)

________________________________________________________________________________

In [ ]:
# Splitting Data
#X = data.drop('salary', axis = 1).values # or
X = data[['yrs.since.phd','yrs.service']]
#y = data['salary'].values  # or
y = data[['salary']]

In [ ]:
6.55e-35

6.55e-35

In [ ]:
display(data.iloc[[262,113,176,63,245]])
display(X_train.head())

          rank discipline  yrs.since.phd  yrs.service     sex  salary
262       Prof          A             31           26    Male  121200
113       Prof          A             37           37    Male  104279
176  AssocProf          B             10            7    Male   95436
63   AssocProf          B             11           11  Female  103613
245       Prof          A             17           11  Female   90450

     rank
16      2
66      2
379     0
7       2
19      2

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
#https://stackoverflow.com/a/30443504

pd.options.mode.chained_assignment = None  # default='warn'

# model.fit() do not accept str values
le = preprocessing.LabelEncoder()
for feature in cols:
  if X[feature].dtypes == ('O'):
    X[feature] = le.fit_transform(X[feature])
    print('"{}"  data type is Object, "{}" feature encoded.\n'.format(feature,feature))


# X['rank'] = le.fit_transform(X['rank'])
# X['discipline'] = le.fit_transform(X['discipline'])
# X['sex'] = le.fit_transform(X['sex'])



# When data type is numpy
# X_train[:,0] = le.fit_transform(X_train[:,0]) # Rank's column
# X_train[:,1] = le.fit_transform(X_train[:,1]) # discipline column
# X_train[:,4] = le.fit_transform(X_train[:,4]) # sex column

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state= 42)

model = LinearRegression()
model.fit(X_train, y_train)
print('R-squared: {}' .format(model.score(X_train, y_train)))

In [ ]:
# Predicting in test data
y_test_predicted = model.predict(X_test)

print('For test data: ')
print('Mean Squared Error(MSE): {:.2f} '.format(metrics.mean_squared_error(y_test, y_test_predicted)))
print('Root Mean Squared Error(RMSE): {:.2f} ' .format(np.sqrt(metrics.mean_squared_error(y_test, y_test_predicted))))
print('Mean absolute Error(MAE): {:.2f} ' .format(metrics.mean_absolute_error(y_test, y_test_predicted)) )

For test data:
Mean Squared Error(MSE): 632940603.87
Root Mean Squared Error(RMSE): 25158.31
Mean absolute Error(MAE): 19710.41