In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics as M
import seaborn as sns
import statsmodels.api as sm

In [18]:
data = pd.read_csv('https://raw.githubusercontent.com/AgusteFatu/burayaneyazcaz/main/data/ISLR_Default.csv')
#data.rename(columns={'Unnamed: 0': 'Index'}, inplace=True)
del data['Unnamed: 0']

In [19]:
data.head(5)

   Index default student      balance        income
0      1      No      No   729.526495  44361.625074
1      2      No     Yes   817.180407  12106.134700
2      3      No      No  1073.549164  31767.138947
3      4      No      No   529.250605  35704.493935
4      5      No      No   785.655883  38463.495879

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
Index      10000 non-null int64
default    10000 non-null object
student    10000 non-null object
balance    10000 non-null float64
income     10000 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 312.6+ KB